/**
 * @name MinusDark
 * @description Soothing pastel theme for midnight
 * @author scarcekoi
 * @version 0.1
 * @website https://github.com/uncenter/ctp-midnight
 * @source https://github.com/uncenter/ctp-midnight/blob/main/themes/mocha-mauve.css
*/

:root {
  --md-floating: #0d0d15;
  --md-main: #11111b;
  --md-main2: #1e1e2e;
  --md-main3: #24273a;
  --md-main4: #1e1e2a;
  --md-main5: #161622;
  --md-main5: #161622;
  --md-main6: #181825;
  --md-light-blue-violet: #a86eff;
  --md-blue-violet: #8a2be2;
  --md-discord-default: #cdd6f4;
  --md-light-grey: #494d64;
  --md-darkish-grey: #363a4f;
  --md-dark-purple: #ca9ee6;
  --md-status-red: #eba0ac;
  --md-discord-red: #f23f42;
  --md-pink: #f38ba8;
  --md-darky-grey: #45475a;
  --md-dark-pink: #f5c2e7;
  --md-darkish-green: #a6e3a1;
  --md-kinda-dark-grey: #313244;
  --md-very-dark-grey: #23242d;
  --md-discord-blue: #505cdc;
}



.wrapper__612a5 .link_ddbb36,
.container_a48b21,
.channel__0aef5,
.side_b4b3f6 .item__48dda {
	transition: margin-left var(--list-item-transition);
}